.footer {
  padding-bottom: 60px;

  @media screen and (max-width: 879px) {
    padding-bottom: 34px;
  }
}

.footer__container {
  width: min(1320px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  row-gap: 3px;
  column-gap: 30px;

  @media screen and (max-width: 879px) {
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 56px;
  }
}

.footer__title {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: #000;

  @media screen and (max-width: 879px) {
    font-size: 32px;
  }
}

.footer__navigation {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: end;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 879px) {
    margin-top: 20px;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    flex-direction: column;
    justify-self: start;
  }

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 105%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    position: relative;

    &:before {
      content: "";
      width: 0;
      height: 3px;
      background-color: #303030;
      position: absolute;
      bottom: -2px;
      left: 50%;
      transition: all 200ms ease;

      @media screen and (max-width: 879px) {
        height: 2px;
      }
    }

    &:hover {
      &:before {
        width: 100%;
        left: 0;
      }
    }
  }
}

.footer__btn {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  width: 128px;
  height: 47px;
  border-radius: 30px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 200ms ease;

  @media screen and (max-width: 879px) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
    width: 118px;
    height: 40px;
    font-size: 12px;
  }

  &:hover {
    background-color: #303030;
  }
  &:active {
    background-color: #000;
  }
}

.footer__socials {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  gap: 15px;

  @media screen and (max-width: 879px) {
    gap: 10px;
  }

  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1d16e2;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 879px) {
      width: 32px;
      height: 32px;

      svg {
        width: 18px;
      }
    }

    &:hover {
      svg {
        transition: scale 200ms ease;
        scale: 1.15;
      }
    }
  }
}
