.roadmap {
  padding-top: 90px;
  background-color: #1d16e2;

  @media screen and (max-width: 879px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.roadmap__container {
  width: min(1280px, 100%);
  padding-bottom: 216px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media screen and (max-width: 879px) {
    padding-bottom: 0;
  }
}

.roadmap__title {
  font-weight: 900;
  font-size: 190px;
  line-height: 90%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  position: relative;

  @media screen and (max-width: 1279px) {
    font-size: 170px;
  }
  @media screen and (max-width: 879px) {
    max-width: 336px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }

  .hashtag {
    position: absolute;
    top: 0;
    left: 0;
    translate: 72% -15%;

    @media screen and (max-width: 1279px) {
      translate: 0 -15%;
    }
    @media screen and (max-width: 879px) {
      width: 50px;
      translate: 60% -15%;
    }
  }

  .arrow-up {
    position: absolute;
    bottom: -10px;
    left: 90px;

    @media screen and (max-width: 1279px) {
      left: 0;
    }
    @media screen and (max-width: 879px) {
      width: 100px;
      left: 20px;
      bottom: 0;
    }
  }
  .arrow-down {
    position: absolute;
    top: 40px;
    right: 140px;

    @media screen and (max-width: 1279px) {
      right: 0;
    }
    @media screen and (max-width: 879px) {
      width: 80px;
      top: 10px;
      right: 30px;
    }
  }

  img {
    position: absolute;
    bottom: -70px;
    right: 120px;

    @media screen and (max-width: 1279px) {
      right: 0;
    }
    @media screen and (max-width: 879px) {
      width: 50px;
      bottom: -20px;
      right: 30px;
    }
  }
}

.roadmap__schedule::-webkit-scrollbar {
  display: none;
}

.roadmap__schedule {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  translate: 0 68%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media screen and (max-width: 1279px) {
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
  }
  @media screen and (max-width: 879px) {
    position: static;
    translate: 0 0;
  }

  & > li {
    width: 315px;
    flex-shrink: 0;

    h3 {
      display: flex;
      gap: 10px;
      padding: 17px 25px;
      border-radius: 20px 20px 0 0;
      background: rgba(255, 255, 255, 0.2);

      span {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        color: #fff;
        &:last-of-type {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    ul {
      width: 100%;
      min-height: 148px;
      padding: 22px 25px;
      border-radius: 0 0 20px 20px;
      background: #f1f1f1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > li {
        font-weight: 600;
        font-size: 15px;
        color: #686868;
      }

      & > li.completed {
        color: #000;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    ul:has(li.completed) {
      padding: 22px 20px;

      li {
        &:not(.completed) {
          padding-left: 29px;
        }
      }
    }
  }
}
